* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'MAaruBuri';
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: 'MAaruBuri';
  src: url("../font/MaruBuri-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url("../font/MaruBuri-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url("../font/MaruBuri-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url("../font/MaruBuri-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url("../font/MaruBuri-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.w70p {
  width: 70%;
}

.w80p {
  width: 80%;
}

.w90p {
  width: 90%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}

header > div {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header > div a {
  color: #fff;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: inline-block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  display: inline-block;
  padding: 0 2%;
}

header > div .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  display: none;
  cursor: pointer;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-child(1) {
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
}

header > div .trigger-menu span:nth-child(3) {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}

.contact {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.contact h2 {
  font-size: 55px;
  margin-bottom: 110px;
  text-transform: uppercase;
}

.contact h2 small {
  font-size: 22px;
  display: block;
  padding-top: 28px;
  font-weight: normal;
  text-transform: capitalize;
}

.contact div input {
  padding: 9px 40px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  font-size: 25px;
}

.contact div a {
  background: #fed136;
  color: #fff;
  padding: 16px 40px;
  display: inline-block;
  vertical-align: middle;
}

footer {
  padding: 100px 0;
  text-align: center;
  color: #8f8f8f;
  font-size: 22px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}

header > div {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header > div a {
  color: #fff;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: inline-block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  display: inline-block;
  padding: 0 2%;
}

header > div .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  display: none;
  cursor: pointer;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-child(1) {
  -webkit-transform: translateY(-400%);
          transform: translateY(-400%);
}

header > div .trigger-menu span:nth-child(3) {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}

.visual {
  position: relative;
}

.visual > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.visual > div p {
  color: #fff;
  font-size: 5rem;
}

.visual > div p small {
  display: block;
  font-size: 2rem;
  text-align: center;
}

.visual > div a {
  background: #fed136;
  color: #fff;
  padding: 16px 40px;
  display: inline-block;
}

.visual > img {
  width: 100%;
}

section {
  background: #f7f7f7;
  padding: 100px 0;
  text-align: center;
}

section h2 {
  font-size: 55px;
  color: #222;
  margin-bottom: 110px;
  text-transform: uppercase;
}

section h2 small {
  font-size: 22px;
  color: #777;
  display: block;
  padding-top: 28px;
  font-weight: normal;
  text-transform: capitalize;
}

section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

section ul li {
  margin-bottom: 70px;
  width: 30%;
}

section ul li p > img {
  width: 100%;
}

section ul li p:nth-of-type(2) {
  width: 100%;
  height: 130px;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section ul li p:nth-of-type(2) b {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

section ul li p:nth-of-type(2) em {
  font-size: 20px;
  color: #737373;
}
/*# sourceMappingURL=index.css.map */